.container {
    background-color: rgb(0, 88, 139);
    /* height: 600px; */
}

.row{
    border: 2px solid rgb(0, 88, 139);
    /* height: 100px; */
}

.col-4{
    border: 1px solid rgb(240, 88, 159);
}

img{
    width: 100%;
}

.titulo{
    text-align: center;
    padding: 5%;
    font-family: 'Playfair Display', serif;
    font-family: 'Anton', sans-serif;
}

.pimera_seccion{
    text-align: justify;
    padding: 2%;
}



@media (min-width: 200px) and (max-width: 424px){
    [class*="col-"]{
        width: 100%;
        text-align: center;
    }

    .fishtao{
        content: url("../img/39d1Vlh.jpg")
    }

    .container{
        background-color: bisque;
    }

    
}